<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{{ info.title }}</title>
</head>
<body>

    {% include 'header/index.html' %}

    <div class="about-section">
        <h1>{{ info.title }}</h1>
        <p>{{ info.content | safe }}</p>
        <br>
        
        {% if social_media %}
        <div class="social-media-section">
            <p>Siga-nos nas redes sociais:</p>
            <div class="social-links">
                {% for social in social_media %}
                    <a href="{{ social.social_link }}" target="_blank" class="social-link">
                        <img src="{{ url_for('static', filename='image/social/' + social.social_name + '.png') }}" alt="{{ social.social_name }}" class="social-icon">
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    {% if is_admin %}
        <form method="get" action="{{ url_for('about_edit') }}">
            <button type="submit" class="button-login2">Editar Seção "Sobre"</button>
        </form>
    {% endif %}

</body>
</html>