<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <title>Login</title>
</head>
<body class="login-page">
    <div class="login-logo-title-container">
        <img src="{{ url_for('static', filename='image/adorn_saturn_logo.jpg') }}" alt="Logo Adorn Saturn" class="login-logo">
        <h1 class="login-title-main">Adorn Saturn:</h1>
        <h2 class="login-title-sub">Acessórios e peças de crochê</h2>
    </div>
    <form method="get" action="{{ url_for('register') }}">
        <button name="register-btn" class="button-login">Registrar</button>
    </form>
    <form method="post">

        <div class="form-group">
            <h1>ENTRE NA SUA CONTA:</h1>
            {% if login_failed %}
                <p>Login inválido</p>
            {% endif %}
            
            <label for="email">E-mail: </label>
            <input type="text" name="email" id="email">
            
            <label for="password">Senha: </label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <button type="submit" class="button-login2">Entrar</button>
        </div>
    </form>
</body>
</html>