<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Registre-se</title>
</head>

<body>
    <div class="login-logo-title-container">
        <img src="{{ url_for('static', filename='image/adorn_saturn_logo.jpg') }}" alt="Logo Adorn Saturn" class="login-logo">
        <h1 class="login-title-main">Adorn Saturn:</h1>
        <h2 class="login-title-sub">Acessórios e peças de crochê</h2>
    </div>
    {% if error %}
        <div class="error-message" style="color:red; text-align: center; margin-bottom: 20px;">
            {{ error }}
        </div>
    {% endif %}
    <form method="get" action="{{ url_for('login') }}">
        <button name="register-btn" class="button-login">Login</button>
    </form>
    {% include 'user/create.html'%}
</body>
</html>