<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <title>Perfil</title>
</head>
<body>
    {% include 'header/index.html' %}
    
    <div class="perfil">

        <div class="profile-info">
            <div class="info-row">
                <label class="info-label">Nome:</label>
                <span class="info-value">{{ user[1] }}</span>
            </div>

            <div class="info-row">
                <label class="info-label">Sobrenome:</label>
                <span class="info-value">{{ user[2] }}</span>
            </div>

            <div class="info-row">
                <label class="info-label">Telefone:</label>
                <span class="info-value">{{ user[3] }}</span>
            </div>

            <div class="info-row">
                <label class="info-label">Email:</label>
                <span class="info-value">{{ user[10] }}</span>
            </div>

            <div class="info-row">
                <label class="info-label">Estado:</label>
                <span class="info-value">{{ user[5] }}</span>
            </div>

            <div class="info-row">
                <label class="info-label">Cidade:</label>
                <span class="info-value">{{ user[6] }}</span>
            </div>

            <div class="info-row">
                <label class="info-label">CEP:</label>
                <span class="info-value">{{ user[4] }}</span>
            </div>

            <div class="info-row">
                <label class="info-label">Bairro:</label>
                <span class="info-value">{{ user[7] }}</span>
            </div>

            <div class="info-row">
                <label class="info-label">Endereço:</label>
                <span class="info-value">{{ user[8] }}</span>
            </div>

            <div class="info-row">
                <label class="info-label">Número da casa:</label>
                <span class="info-value">{{ user[9] }}</span>
            </div>

            <a href="{{ url_for('update_user', id=user[0]) }}" class="button-profile">Editar perfil</a>
        </div>
    </div>
</body>
</html>