<div class="upload-container">
    <form class="form-upload" action="{{ url_for('create_product') }}" method="POST" enctype="multipart/form-data">
        <div class="upload">
            <div class="file-upload-wrapper">
                <label for="product_img" class="file-upload-label">
                    <span>📤 Arraste ou clique para enviar uma imagem</span>
                    <small>(Formatos: JPG, PNG, GIF | Máx. 5MB)</small>
                </label>
                <input type="file" name="product_img" id="product_img" class="file-upload-input" accept="image/*" required>
            </div>
            <div class="preview-container">
                <img id="image-preview" class="upload-preview" src="{{ url_for('static', filename='image/empty-image.jpg')}}" alt="Pré-visualização">
            </div>
        </div>

        <div class="upload">
            <label for="product_name">Nome:</label>
            <input type="text" class="form-control" name="product_name" id="product_name" required>
        </div>

        <div class="upload">
            <label for="product_price">Preço:</label>
            <input type="number" class="form-control" step="0.01" name="product_price" id="product_price" required>
        </div>
        
        <div class="upload">
            <label for="product_desc">Descrição:</label>
            <textarea name="product_desc" class="form-control" id="product_desc" required></textarea>
        </div>

        <button type="submit" class="button-register">Cadastrar</button>
    </form>
</div>

<script>
    document.getElementById('product_img').addEventListener('change', function(e) {
        const reader = new FileReader();
        reader.onload = function(event) {
            document.getElementById('image-preview').src = event.target.result;
        };
        reader.readAsDataURL(e.target.files[0]);
    });

    function updateFileName(input) {
        const label = input.nextElementSibling;
        if (input.files.length > 0) {
        label.setAttribute('data-file', input.files[0].name);
        } else {
        label.setAttribute('data-file', '');
        }
    };
</script>